.accordion {
  --accordion-padding: var(--spacing-3);
  border: 1px solid #999;
  border-left: none;
  border-right: none;
  margin: 1rem 0;
}

.accordion__title {
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: var(--accordion-padding);
}

.accordion__title svg {
  width: 1em;
  height: 1em;
}

.accordion {
  & .accordion__content {
    padding: var(--accordion-padding);
    background: var(--black-tint-10);
  }
}
