.accordion {
  --accordion-bg: var(--color-black-12);
  border-bottom: 2px solid var(--color-black-10);
  border-left: none;
  border-right: none;
}

.accordion__title {
  font-size: var(--font-size-6);
  padding-inline: var(--spacing-4);
  padding-block: var(--spacing-4);
  background: var(--color-white);
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.accordion__title::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: url("@/assets/icons/chevron-down.svg");
  background-size: contain;
  position: absolute;
  right: var(--spacing-3);
  top: 50%;
  transform: translate(0, -50%);
  transition: all 250ms ease;
}

.accordion__title[aria-expanded="true"] {
  background-color: var(--accordion-bg);
}

.accordion__title[aria-expanded="true"]::after {
  transform: translate(0, -50%) rotate(180deg);
}

.accordion__content {
  padding: var(--spacing-3) var(--spacing-4) var(--spacing-6) var(--spacing-4);
  background: var(--accordion-bg);
  height: auto;
  transition: all 450ms ease;
}

.accordion__content[hidden="true"] {
  height: 0px;
  overflow: hidden;
  /* display: block; */
  padding-top: 0;
  padding-bottom: 0;
}

@media (--bp-medium) {
  .accordion {
    & .accordion__title {
      padding-inline: var(--spacing-4);
      font-family: var(--font-family-black);
      font-weight: var(--font-weight-black);
    }
  }
}
