.card {
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
}
.card__header {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.card__footer {
  border-top: 1px solid black;
  padding-top: 15px;
  text-align: center;
}
