.button {
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
  display: inline-block;

  padding: var(--spacing-2) var(--spacing-5);
  font-family: var(--font-family-black);
  font-size: var(--font-size-3);
  color: var(--ghd-white);
  background-color: var(--ghd-black);
  border: 2px solid var(--ghd-black);

  &.button--secondary {
    color: var(--ghd-black);
    background-color: var(--ghd-white);
  }
}
