@import "./reset.css";
@import "./tokens-colors.css";
@import "./tokens-typography.css";
@import "./tokens-spacing.css";
@import "./tokens-breakpoints.css";
@import "./fonts.css";
@import "./typography.css";

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--spacing-1);

  @media (--bp-tablet) {
    grid-gap: var(--spacing-2);
  }

  @media (--bp-desktop) {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--spacing-3);
  }

  @media (--bp-desktop-hd) {
    grid-gap: var(--spacing-4);
  }
}
