:root {
  --font-family-black: "GHDModeratBlack", Arial, Helvetica, sans-serif;
  --font-family-regular: "GHDModeratRegular", Arial, Helvetica, sans-serif;
  --font-family-light: "GHDModeratLight", Arial, Helvetica, sans-serif;
  --font-weight-black: 900;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  --font-size-1: 4rem;
  --font-size-2: 3rem;
  --font-size-3: 2.25rem;
  --font-size-4: 1.75rem;
  --font-size-5: 1.32rem;
  --font-size-6: 1rem;
  --font-size-7: 0.8rem;
  --font-size-8: 0.7rem;
  --font-size-9: 0.6rem;
}
