:root {
  --spacing-0: 0;
  --spacing-1: 0.5rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
  --spacing-6: 3rem;
  --spacing-8: 3.5rem;
  --spacing-9: 5rem;
  --spacing-10: 6rem;
  --spacing-11: 8rem;
  --spacing-12: 10rem;
}
