body {
  font-family: var(--font-family-regular);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-family-black);
  font-weight: var(--font-weight-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
.h6 {
  font-size: var(--font-size-3);
}

.h5 {
  font-size: var(--font-size-4);
}

.h4 {
  font-size: var(--font-size-5);
}

.h3 {
  font-size: var(--font-size-6);
}

.h2 {
  font-size: var(--font-size-7);
}

.h1 {
  font-size: var(--font-size-8);
}
